<form [formGroup]="cocktailForm" (ngSubmit)="submit()">
  <div class="form-group d-flex flex-column">
    <label>Nom</label>
    <input formContromName="name" type="text">
  </div>
  <div class="form-group d-flex flex-column">
    <label>Image</label>
    <input formContromName="img" type="text">
  </div>
  <div class="form-group d-flex flex-column">
    <label>Description</label>
    <input formContromName="description" type="text">
  </div>
  <hr>
  <button (click)="addIngredient()" class="btn btn-primary" type="button">Ajout ingredient</button>
  <hr>
  <div formArrayName="ingredients">
    <div [formGroupName] ="index"
    *ngFor="let ingredient of ingredients.controls; let index = index;">
    <div class="form-group d-flex flex-column">
      <label>Nom</label>
      <input formContromName="name" type="text">
    </div>
    <div class="form-group d-flex flex-column">
      <label>Quantite</label>
      <input formContromName="quantity" type="text">
    </div>
  </div>
</div>
  <div class="actions">
    <button [disabled]="cocktailForm.invalid" class="btn btn-primary">Valider</button>
    <button routerLink="../" type="button" class="btn btn-secondary">Annuler</button>
  </div>
</form>
